{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/notice.css' %}"/>
{% endblock style %}
{% block contents %}
  <div class="container mt-5 mb-5 my-class reg">
    <h5 class="border-bottom px-3 pb-2 mt-4 mb-4" style="font-weight: bold; font-size: 30px">
      게시물 등록
    </h5>

    {% include 'form_errors.html' %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-3 px-3">
        <label for="title">제목</label>
        <input type="text" name="title" id="title" class="form-control bg-white" value=""/>
      </div>
      <div class="form-group mb-3 px-3">
        <label for="content">내용</label>
        <textarea name="content" id="content" rows="10" class="form-control bg-white"></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="image" class="form-label px-3">이미지 첨부 :</label>
        <input type="file" name="image" id="image"/>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end px-5 pb-2">
          <button type="submit" class="btn btn-cover">게시물 등록</button>
        </div>
      </div>
    </form>
  </div>
{% endblock contents %}
