{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/notice.css' %}" />
{% endblock style %} {% block contents %}
<div class="container my-5 mb-5 my-class reg">
  <h5
    class="border-bottom px-3 pb-2 mt-4 mb-4"
    style="font-weight: bold; font-size: 30px"
  >
    공지 수정
  </h5>

  {% include 'form_errors.html' %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3 px-3">
      <label for="title" style="font-weight: bold">공지 제목</label>
      <input
        type="text"
        name="title"
        id="title"
        class="form-control bg-white text-black"
        value="{{form.title.value}}"
      />
    </div>
    <div class="form-group mb-3 px-3">
      <label for="category" style="font-weight: bold">카테고리</label>
      <select
        name="category"
        id="category"
        class="form-control bg-white text-black"
      >
        <option value>카테고리 부문</option>
        <option value="긴급공지">긴급공지</option>
        <option value="서비스">서비스</option>
        <option value="작업">작업</option>
        <option value="업데이트">업데이트</option>
        <option value="이벤트">이벤트</option>
      </select>
    </div>

    <div class="form-group mb-3 px-3">
      <label for="content" style="font-weight: bold">내용</label>
      <textarea
        name="content"
        id="content"
        rows="10"
        class="form-control bg-white text-black"
      >
{{form.content.value}}</textarea
      >
    </div>
    <div class="form-group mb-3">
      <label for="image" class="form-label px-3">이미지 첨부 :</label>
      <input type="file" name="image" id="image" />
      <div class="d-grid gap-2 d-md-flex justify-content-md-end px-5 pb-2">
        <button type="submit" class="btn btn-cover">공지 수정</button>
      </div>
    </div>
  </form>
</div>
{% endblock contents %}
