{% extends 'base.html' %}
{% load static %}
{% block style %}
  <style>
    .pass_style {
      background: white;
      width: 450px;
      height: auto;
      margin-bottom: 50px;
      margin-top: 50px;
      padding: 50px 25px;
      background: #FFCC57;
      border-radius: 50px;
    }
  </style>
{% endblock style %}
{% block contents %}
  <div class="container mx-auto px-5 pt-5 pass_style">
    <h2>비밀번호 초기화 완료<br></h2>
    <br>
    <div>
      <p>비밀번호가 설정되었습니다.
        <br>다시 로그인하기 바랍니다.</p>
      <p>
        <a href="{% url 'login' %}">로그인</a>
      </p>
    </div>
  </div>
{% endblock contents %}
